# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Testing & Coverage
coverage/

# Minified JavaScript files
*.min.js

# Public library files
public/js/lib/

# Config files (if necessary)
*.config.js
